:root {
  --main-color: #bcecff;
  --nav-color: #fff;
}

html {
  background-color: var(--main-color);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
a.expand {
  position: relative;
  color: var(--nav-color);
  text-decoration: none;
  padding: 0 3px 6px 3px;
}
a.expand:hover {
  color: var(--nav-color);
}
a.expand::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 5px;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to right, red, red, red, orange);
  background-size: 200% 3px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  transition: background-position 0.3s;
  transform: scaleX(0);
  transition: transform 0.4s ease;
}
a.expand:hover::before {
  transform: scaleX(1);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.2rem;
}
.hamburger {
  display: none;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 3rem;
}

.nav-link {
  font-size: 1rem;
  font-weight: 400;
  color: var(--nav-color);
}

.nav-logo img {
  max-width: 125px;
  width: 100%;
  height: 100%;
}
.socialmedia a .image {
  max-width: 30px;
  width: 100%;
  height: 100%;
  padding: 5px;
}
.socialmedia {
  margin-right: 20px;
  z-index: 1200;
}
/* @media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: var(--nav-background-color);
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }
} */
/* HeaderBackground */
.know_SC {
  background-image: url(../assets/Recurso8_1.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 120vh;
  opacity: 0;
  animation: ContentFadeIn 0.8s 0.8s forwards ease-in;
}

@media only screen and (max-width: 360px) {
  .know_Td {
    width: 120%;
    height: 80%;
  }
  .know_Td .three {
    top: 30%;
    left: 30%;
    display: none;
  }
  .know_Td .three img {
    width: 100px !important;
    height: 100px !important;
  }
}
@keyframes ContentFadeIn {
  0% {
    transform: translateY(-1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes ImageFadeIn {
  0% {
    transform: translate(-0.5rem, -0.5rem) scale(1.05);
    opacity: 0;
    filter: blur(2px);
  }
  50% {
    opacity: 1;
    filter: blur(2px);
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
    filter: blur(0);
  }
}
/* Content Information */
.know_SC .content_info {
  padding-left: 3.2%;
  /* margin-top: 70px; */
}
.jugar {
  font-size: 2.5em;
  background: linear-gradient(to right, #f81726, #42378f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  padding: 25px;
  letter-spacing: 5px;
}
.email {
  font-size: 0.9em;
  color: var(--nav-color) !important;
  padding: 25px;
}

.info {
  color: var(--nav-color);
  padding: 25px;
  max-width: 500px;
  font-size: 1.6em;
}
.button-container {
  position: absolute;
  top: 72%;
  left: 20%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn {
  border-radius: 30px;
  display: block;
  height: 50px;
  width: 186px;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
  font-size: 17px;
  text-align: center;
}

.btn:after {
  position: absolute;
  content: "";
  display: inline-block;
  background: #3bade3;
  background: linear-gradient(#e94d82, #84167c);
  height: 50px;
  width: 372px;
  z-index: -1;
  -webkit-transform: translateX(-280px);
  transform: translateX(-280px);
  -webkit-transition: -webkit-transform 400ms ease-in;
  transition: -webkit-transform 400ms ease-in;
  transition: transform 400ms ease-in;
  transition: transform 400ms ease-in, -webkit-transform 400ms ease-in;
}

.btn:hover:after {
  -webkit-transform: translateX(-200px);
  transform: translateX(-200px);
}

.btn span {
  position: relative;
  top: 16px;
}
.know_SC #truck_top {
  position: absolute;
  top: 25%;
  left: 50%;
}
.know_SC #truck_top img {
  max-width: 600px;
  width: 100%;
  height: 100%;
}
.know_SC .content-right {
  position: absolute;
  top: -75%;
  left: 85%;
}
.know_SC .content-right svg {
  max-width: 200px;
}
/* Main */
main {
  text-align: center;
}
main .content-center h2 {
  font-size: 3em;
  background: linear-gradient(to right, #f56ea9, #d34181, #84167c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  padding: 25px;
  letter-spacing: 8px;
}
/* Clouds */
main .cloudz .clouds {
  position: absolute;
}
main .cloudz .eins {
  max-width: 170px;
  left: 10%;
  top: 130%;
}
main .cloudz .zwei {
  max-width: 150px;
  left: 80%;
  top: 130%;
}
main .cloudz .drei {
  max-width: 90px;
  left: 83%;
  top: 160%;
}
main .cloudz .vier {
  max-width: 100px;
  left: 10%;
  top: 180%;
}
/* Road */

main .content-center .road img {
  position: absolute;
  width: 1359px;
  height: 1100px;
  top: 160%;
  left: -1%;
}
/* Number Signs */
main .content-center .road .number_sign .six {
  position: absolute;
  top: 165%;
  left: 71%;
}
main .content-center .road .number_sign .six img {
  max-width: 90px;
  height: 149px;
}
main .content-center .road .number_sign .five {
  position: absolute;
  top: 188%;
  left: 44%;
}
main .content-center .road .number_sign .five img {
  max-width: 100px;
  height: 160px;
}
main .content-center .road .number_sign .four {
  position: absolute;
  top: 205%;
  left: 58%;
}
main .content-center .road .number_sign .four img {
  max-width: 100px;
  height: 160px;
}
main .content-center .road .number_sign .three {
  position: absolute;
  top: 208%;
  left: 35%;
}
main .content-center .road .number_sign .three img {
  max-width: 120px;
  height: 200px;
}
main .content-center .road .number_sign .two {
  position: absolute;
  top: 245%;
  left: 80%;
}
main .content-center .road .number_sign .two img {
  max-width: 160px;
  height: 260px;
}
main .content-center .road .number_sign .one {
  position: absolute;
  top: 250%;
  left: 8.5%;
}
main .content-center .road .number_sign .one img {
  max-width: 200px;
  height: 340px;
}
/* Info Tags For Numbers */
main .content-center .road .number_info .seis {
  position: absolute;
  top: 150%;
  left: 48%;
}
main .content-center .road .number_info .seis img {
  max-width: 300px;
  height: 116px;
}
main .content-center .road .number_info .cinco {
  position: absolute;
  top: 175%;
  left: 18%;
}
main .content-center .road .number_info .cinco img {
  max-width: 300px;
  height: 116px;
}
main .content-center .road .number_info .cuatro {
  position: absolute;
  top: 210%;
  left: 68%;
}
main .content-center .road .number_info .cuatro img {
  max-width: 300px;
  height: 116px;
}
main .content-center .road .number_info .tres {
  position: absolute;
  top: 220%;
  left: 10%;
}
main .content-center .road .number_info .tres img {
  max-width: 300px;
  height: 130px;
}
main .content-center .road .number_info .dos {
  position: absolute;
  top: 265%;
  left: 545;
}
main .content-center .road .number_info .dos img {
  max-width: 400px;
  height: 140px;
}
main .content-center .road .number_info .uno {
  position: absolute;
  top: 285%;
  left: 20%;
}
main .content-center .road .number_info .uno img {
  max-width: 320px;
  height: 120px;
}
/* Silver Background */
main .content-center .many .sil {
  position: absolute;
  background-image: url(/assets/Recurso27_1.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 200vh;
  top: 335.9%;
  z-index: -2;
}
main .content-center .many .sil2 {
  position: absolute;
  background-image: url(/assets/Recurso27_2.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 200vh;
  top: 500%;
  z-index: -3;
}
/* PreSale */
main .content-center .presale {
  position: absolute !important;
  background-image: url(/assets/Recurso24_!.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 120vh;
  top: 335.9%;
  z-index: 999;
}
.presale .p {
  color: var(--nav-color);
  padding: 10px;
}
.presale h2 {
  position: absolute;
  top: -1%;
  left: 25%;
}
.presale .j {
  position: absolute;
  color: var(--nav-color);
  padding: 10px;
  top: 20%;
  left: 28%;
}
/* Timer */

/* Coin */
.content-center .coin{
  position: absolute;
  top:415%;
  left: 45%;
  Z-index:1100;
}
.content-center .coin img{
  max-width: 200px;
  height: 226px;

}
/* COfres */
.cobres .heading{
  position: absolute;
  top:460%;
  left: 25%;
}
.cobres .heading #h1{
  font-size: 2.2em;
  background: linear-gradient(to right, #f56ea9, #d34181, #84167c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  padding: 25px;
  letter-spacing: 8px;
}
.cobres .heading  .o{
  padding: 10px;
  font-size: 1em;
  font-weight: 500;
}
.section { 
  position: absolute;
  display: flex;
  text-align: center;
  top: 490%;
  left: 13%;
}
.section .imag img{
  max-width: 350px;
  height: 225px;
}
.section .column{
  max-width: 500px;
  margin: 0 auto;
  gap: 10px;
}
.section .column h3{
  font-size: 1.5em;
  background: linear-gradient(to right, #f56ea9, #d34181, #84167c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  /* padding: 25px; */
}
.section .column p{
  font-size: 18px;
  padding: 10px;
  font-weight: 600;
}
.section .column a img{
  max-width: 200px;
}
/* Tipo De Camiones */
.content-center .many_2{
  position: absolute;
  background-image: url(/assets/Recurso34_1.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height:500vh;
  top: 575%;
  z-index: -3;
}
.content-center .many_2 .truck_Content h2{
  position: absolute;
  left: 10%;
  top:5%;
  font-size: 4em;
  padding: 10px;
  text-align: left;
}
.content-center .many_2 .truck_Content p{
  position: absolute;
  left: 10%;
  top:11%;
  padding: 10px;
  text-align: left;
  color: var(--nav-color);
  font-size: 1.3em;
}
.content-center .many_2 .truck_Content  .meep{
  position: absolute;
  max-width: 700px;
  top: 12%;
  left: 22%;
  z-index: -4;
}
.content-center .many_2 .truck_Content  .meeps{
  position: absolute;
  max-width: 400px;
  top: 17%;
  left: 68%;
  z-index: -4;
}